@use 'settings';

/*
	5 columns, 3 rows
*/
.content-entry-box-B {
    background-color: settings.$contentEntryBgColor;
    border-radius: 1rem;
    box-shadow: 0 0 1rem settings.$boxShadow;
	display: grid;
	grid-template-columns: 3.5rem 150px 3.5rem 1fr 3.5rem;
	grid-template-rows: 3.5rem 1fr 3.5rem;
	grid-template-areas: ". . . . ." ". media . copy ." ". . . . .";
	grid-column: 2/span 1;
    margin-bottom: 7.5rem;

	h1 {
		font-size: settings.$largeFont;
	}
	h2 {
		font-size: settings.$mediumFont;
		margin: 0 0 settings.$smallSpace;
	}
	h3 {
		font-size: settings.$mediumSmallFont + 0.2rem;
		line-height: 1.2;
		margin: 0 0 settings.$xSmallSpace;
	}
    p {
		font-size: settings.$mediumSmallFont;
        margin-bottom: settings.$smallSpace;
    }

    .content-entry-info-box {
        grid-area: copy;

		p > strong {
			font-size: settings.$mediumSmallFont + 0.2rem;
		}
    }
    .media-box-150 {
        grid-area: media;
    }
}