@use 'settings';

/*
	3 columns, 3 rows
*/
.content-entry-box-A {
    background-color: settings.$contentEntryBgColor;
    border-radius: 1rem;
    box-shadow: 0 0 1rem settings.$boxShadow;
	display: grid;
	grid-template-columns: 3.5rem 1fr 3.5rem;
	grid-template-rows: 3.5rem 1fr 3.5rem;
	grid-template-areas: ". . ." ". copy ." ". . .";
	grid-column: 2/span 1;
    margin-bottom: 7.5rem;

    &> div {
        grid-area: copy;
    }

	blockquote {
		font-size: settings.$mediumSmallFont;
	}
	h1 {
		font-size: settings.$largeFont;
	}
	h2 {
		font-size: settings.$mediumFont;
		margin: 0 0 settings.$smallSpace;
	}
	h3 {
		font-size: settings.$mediumSmallFont;
		margin: 0 0 settings.$xSmallSpace;
	}
    p {
		font-size: settings.$mediumSmallFont;
        margin-bottom: settings.$smallSpace;
    }
	ul {
		font-size: settings.$mediumSmallFont;
		grid-area: mylist;
		list-style-type: disc;
		margin: 0 0 settings.$medSpace;
		text-align: left;
		padding: 0 0 0 1.6rem;
	}

	.list-center {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: ". mylist .";
	}
}
