@use 'settings';

footer {
    box-sizing: border-box;
    font-size: 12px;
    height: 250px;
    padding: 10px 25px 25px;
    position: relative;
    width: 100%;

    &> nav
    {
        margin-bottom: 25px;

        &> a
        {
            display: block;
            float: left;
            padding: 5px 7px;
        }

        &> a:link,
        &> a:visited
        {
            color: settings.$visited-links;
        }

        &> a.active,
        &> a:active,
        &> a:hover
        {
            color: settings.$active-hover-links;
        }
    }
}
