my-left-side-middle-bg {
    left: 0;
    position: fixed;
}
my-top-right-corner-bg {
    right: 0;
    position: fixed;
    top: 0;
}
/* Cloud Animation & decorations */
my-floating-cloud {
    animation: cloud1 130s infinite both cubic-bezier($easing);
    height: $floaterHeight;
    right: 100%;
    position: fixed;
    top: 30%;
    width: $floaterWidth;
    -webkit-animation: cloud1 130s infinite both cubic-bezier($easing);
}

@keyframes cloud1 {
    0% {
      right: 100%;
    }
    100% {
      right: $floaterWidth * -1;
    }
}
@-webkit-keyframes cloud1 {
    0% {
      right: 100%;
    }
    100% {
      right: $floaterWidth * -1;
    }
}
