/*
	5 columns, 3 rows
*/
.content-entry-box-B {
    background-color: $contentEntryBgColor;
    border-radius: 1rem;
    box-shadow: 0 0 1rem $boxShadow;
	display: grid;
	grid-template-columns: 3.5rem 150px 3.5rem 1fr 3.5rem;
	grid-template-rows: 3.5rem 1fr 3.5rem;
	grid-template-areas: ". . . . ." ". media . copy ." ". . . . .";
	grid-column: 2/span 1;
    margin-bottom: 7.5rem;

	h1 {
		font-size: $largeFont;
	}
	h2 {
		font-size: $mediumFont;
		margin: 0 0 $smallSpace;
	}
	h3 {
		font-size: $mediumSmallFont + 0.2rem;
		line-height: 1.2;
		margin: 0 0 $xSmallSpace;
	}
    p {
		font-size: $mediumSmallFont;
        margin-bottom: $smallSpace;
    }

    .content-entry-info-box {
        grid-area: copy;

		p > strong {
			font-size: $mediumSmallFont + 0.2rem;
		}
    }
    .media-box-150 {
        grid-area: media;
    }
}