@media (orientation: landscape) and (pointer: fine), (pointer: none) {
    @import './header.scss';
    @import './nav.scss';

    my-left-side-middle-bg {
        bottom: 53%;
    }

    .page-wrap {
        &> page-linkbox {
            grid-column: 2/span 1;
            margin-bottom: $medSmallSpace;
        }
    }

    @media (hover: hover) {
        page-linkbox {
            &> a {
                opacity: 0.5;
            }
            &> a:hover {
                opacity: 1;
            }
        }
    }

    page-linkbox {
        &> a {
            display: grid;
            grid-template-columns: 1fr $smallSpace 2fr;
            grid-template-rows: 1fr;
            transition-property: opacity;
            transition-duration: 0.5s;

            .button-image {
                align-self: center;
                border-radius: 50%;
                grid-column: 1/span 1;
                grid-row: 1/span 1;
                height: 150px;
                justify-self: center;
                width: 150px;
            }
            .circle-border {
                align-self: center;
                border-radius: 50%;
                grid-column: 1/span 1;
                grid-row: 1/span 1;
                height: 180px;
                justify-self: center;
                width: 180px;
            }
        }

        &> span {
            align-self: center;
            color: $homePageLinkHoverColor;
            font-family: $header-fonts;
            font-size: $xlFont;
            grid-column: 3/span 1;
            grid-row: 1/span 1;
            justify-self: left;
            white-space: nowrap;
        }
    }
}
