p
{
	line-height: 1.5;
}

/* MAIN NAVIGATION
------------------------------------------------------------------------------*/
#main-header
{
    background: #fff url('http://media.clifjackson.net/images/both-circles-45x35.png') no-repeat 10px center;
    border-bottom: 1px solid #333;
    box-shadow: 0 0 4px #ccc;
    height: 40px;
    left: 0;
    height: 40px;
    min-width: 760px;
    position: fixed;
    top: 0;
    width: 100%;
}
    #main-nav
    {
        height: 40px;
        position: absolute;
        right: 0;
    }
    #header-text-box
    {
        height: 40px;
        margin-right: 320px;
        padding: 0 0 0 60px;
        position: relative;
    }
        #my-header-name
        {
            font-size: 16px;
            line-height: 40px;
        }
        #main-nav .breadcrumbs
        {
            font-size: 11px;
        }
        #nav-list
        {
            float: right;
            list-style: none;
            margin: 0;
            padding: 0;
        }
            #nav-list > li
            {
                float: right;
                position: relative;
            }
            .top-level-link:link
            {
                color: #333;
                display: block;
                font-size: 16px;
                line-height: 40px;
                padding: 0 12px;
            }
            #nav-list a
            {
                text-decoration: none;
                transition-property: all;
                transition-duration: 0.35s;
                -webkit-transition-property: all;
                -webkit-transition-duration: 0.35s;
            }
            .top-level-link.active,
            #nav-list .child-link.active,
            .top-level-link:active,
            #nav-list > li:hover > .top-level-link,
            #nav-list .child-link:hover
            {
                background-color: #333;
                color: #fff;
            }
                #nav-list > li:hover .child-menu
                {
                    right: 0;
                    box-shadow: 0 3px 3px #D5D5D5, 3px 3px 3px #D5D5D5, -3px 3px 3px #D5D5D5;
                    opacity: 1;
                }
                .child-menu
                {
                    background-color: #fff;
                    border-radius: 0 0 7px 7px;
                    list-style: none;
                    margin: 0;
                    min-width: 145px;
                    opacity: 0;
                    padding: 0;
                    position: absolute;
                    right: 10000px;
                    top: 40px;
                    transition-duration: 1s;
                    transition-property: opacity, box-shadow;
                    -webkit-transition-duration: 1s;
                    -webkit-transition-property: opacity, box-shadow;
                }
                    .child-menu .child-link
                    {
                        border-radius: 0 0 6px 6px;
                        display: block;
                        font-size: 12px;
                        line-height: 28px;
                        padding: 0 7px;
                    }

/* PAGES
------------------------------------------------------------------------------*/
.page-wrap
{
	margin: 0 auto;
    max-width: 800px;
    padding: 0 18px;
}
.music.index .page-wrap,
.web.index .page-wrap
{
    margin: 0 auto;
    width: 560px;
}

/* CONTENT CONTAINERS
------------------------------------------------------------------------------*/
.content-entry-box
{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 75px;
    padding: 35px;
}
	.image-left-25
	{
		float: left;
		margin: 0 25px 15px 0;
	}
    .image-right-25
	{
		float: right;
		margin: 0 0 15px 25px;
	}
	.media-box-150
    {
		float:left;
		width: 150px;
	}
	.content-entry-info-box
    {
        margin-left: 176px;
		max-width: 540px;
	}
	.content-entry-info-box > h2
	{
		margin: 0;
	}
	.content-entry-info-box > h3
	{
		margin: 0 0 3px;
	}
    .content-entry-info-box > p
    {
        font-size: 14px;
        margin-bottom: 10px;
    }

/* Footer */
#main-footer
{
    box-sizing: border-box;
    font-size: 12px;
    height: 250px;
    padding: 10px 25px 25px;
    position: relative;
    width: 100%;
}
	#footer-nav
	{
		margin-bottom: 25px;
	}
		#footer-nav > a
		{
			display: block;
			float: left;
			padding: 5px 7px;
		}
		#footer-nav > a:link,
		#footer-nav > a:visited
		{
			color: #777;
		}
		#footer-nav > a.active,
		#footer-nav > a:active,
		#footer-nav > a:hover
		{
			color: #000;
		}
