@media (max-width: 500px) {
    #container {
        &> #rings-links {
            transform: scale(70%);
        }
    }
}
@media (min-width: 500px) and (max-width: 640px) {
    #rings-links {
        transform: scale(80%);
    }
}

body {
    font-family: $general-fonts;
}

#top-right-corner-bg {
    background-position: right top;
}

#container {
    display: grid;
    grid-template-areas:
        "header header"
        "center center"
        ". .";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    width: 100vw;

    #my-name {
        color: $homePageNameColor;
        font-size: $mediumSmallFont;
        font-style: italic;
        grid-area: header;
        padding: 1px 0 0 5px;
        transform: rotate(0deg);

        &> p {
            margin: 0;
        }
    }

    #rings-links {
        align-self: center;
        display: grid;
        grid-area: center;
        grid-template-columns: repeat(15, 37px);
        grid-template-rows: repeat(20, 20px);
        justify-self: center;

        a {
            color: $homePageLinkColor;
            font-family: "Japanese Brush";
            text-decoration: none;
        }
        a:hover {
            color: $homePageLinkHoverColor;
            text-decoration: underline;
        }

        .circle {
            background-repeat: no-repeat;
            background-size: contain;
            display: grid;
            grid-template-columns: repeat(3, 33%);
            grid-template-rows: repeat(3, 33%);
            height: 342px;
            transform: rotate(0deg);
            width: 342px;

            &> p:first-child {
                align-self: center;
                font-size: $largeFont;
                font-weight: bold;
                grid-row-start: 2;
                grid-column-start: 2;
                margin: 0px;
                padding: 0px;
            }
        }
        .in-btwn-box {
            font-size: $mediumSmallFont;
            grid-column-start: 7;
            grid-row-start: 10;
            margin: 11px 0px 0 -7px;
            transform-origin: center;
            transform: rotate(-71deg);
            width: 118px;
        }
        #circleA {
            background-image: url($circleA);
            grid-column-start: 1;
            grid-row-start: 1;

            &> p:first-child {
                width: 110px;
            }
        }
        #circleB {
            background-image: url($circleB);
            grid-column-start: 7;
            grid-row-start: 4;

            &> p:first-child {
                width: 145px;
            }
        }
    }
}
