@media (pointer: fine), (pointer: none) {
    header {
        &>nav {
            height: $header-height;

            .breadcrumbs {
                font-size: $smallFont;
            }

            ul {
                list-style-type: none;
            }

            &>ul {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-end;
                margin: 0;
                padding: 0;

                a {
                    text-decoration: none;
                    transition-property: all;
                    transition-duration: 0.35s;
                    white-space: pre;
                }

                &> li {
                    position: relative;
                }
                li:hover .child-menu {
                    box-shadow: 0 3px 3px #D5D5D5, 3px 3px 3px #D5D5D5, -3px 3px 3px #D5D5D5;
                    opacity: 1;
                    right: 0;
                }

                .child-menu {
                    background-color: white;
                    border-radius: 0 0 7px 7px;
                    margin: 0;
                    min-width: 145px;
                    opacity: 0;
                    padding: 0;
                    position: absolute;
                    right: 50000px;
                    top: $header-height;
                    transition-duration: 1s;
                    transition-property: opacity, box-shadow;

                    .child-link {
                        border-radius: 0 0 0.6rem 0.6rem;
                        display: block;
                        font-size: $smallFont;
                        line-height: 28px;
                        padding: 0 7px;
                    }
                }

                .top-level-link:link {
                    color: #333;
                    display: block;
                    font-size: $mediumSmallFont;
                    line-height: $header-height;
                    padding: 0 12px;
                }
                .top-level-link.active,
                .child-link.active,
                .top-level-link:active,
                &> li:hover > .top-level-link,
                .child-link:hover {
                    background-color: $homePageLinkColor;
                    color: white;
                }
            }
        }
    }
}
