// Deprecated

// @media (orientation: landscape), (orientation: portrait), (min-width: 320px), (min-width: 480px) {    
//     my-top-right-corner-bg {
//         top: $header-height;
//     }

//     main-section {
//         padding: $header-height 0 $largeSpace;
//         display: flex;
//         flex-direction: column;
//         flex-wrap: nowrap;
//         position: relative;
//     }
// }

// // Portrait
// @media (orientation: portrait) {
//     @media (max-width: 640px) {
//         html > body { background-color: rgb(90, 248, 172); }
//         my-left-side-middle-bg {
//             bottom: 3%;
//             transform: scale(0.6);
//         }
//     }
//     @media (max-width: 320px) {
//         html > body { background-color: rgb(138, 159, 229); }
//         my-left-side-middle-bg {
//             bottom: 3%;
//             transform: scale(0.4);
//         }
//     }
//     @media (max-width: 240px) {
//         html > body { background-color: rgb(24, 18, 139); }
//         my-left-side-middle-bg {
//             bottom: 3%;
//             transform: scale(0.25);
//         }
//     }

//     main-section {
//         align-items: center;
//     }
// }

// // Landscape
// @media (orientation: landscape) {
//     @media (max-width: 926px) {
//         my-left-side-middle-bg {
//             bottom: 20%;
//             transform: scale(1);
//         }
//     }
//     @media (max-width: 568px) {
//         my-left-side-middle-bg {
//             bottom: 20%;
//             transform: scale(1);
//         }
//     }

//     main-section {
//         align-items: flex-start;
//     }
// }
