// @media (pointer: coarse) {
    @keyframes navanime {
        from {
            left: -100%;
        }
        to {
            left: 0;
        }
    }

    .animate {
        animation: navanime 0.35s ease-in-out forwards;
    }

    #main-nav {
        align-items: start;
        background-color: rgba(255, 255, 255, 0.9);
        display: grid;
        grid-template-areas: "menu closebtn";
        grid-template-columns: 1fr 1fr;
        height: 100vh;
        overflow-y: auto;
        position: fixed;
        top: $header-height + 0.1rem;
        left: -100%;
        width: 100vw;

        ul#nav-list {
            margin: 0 0 $maxSpace;
            padding: 0 0 0 $smallSpace;
        }

        ul {
            list-style-type: none;
            margin: 0;

            li {
                a {
                    text-decoration: none;
                }

                font-size: $mediumSmallFont;
            }
        }

        &> button {
            color: black;
            font-size: $xlFont;
            background: transparent;
            border: none;
            grid-area: closebtn;
            justify-self: end;
            padding: 0 $medSpace 0 0;
        }
    }
// }
