body,
#main-header
{
    min-width: 320px;
}
p
{
    font-size: 15px;
    line-height: 1.4;
}

#main-section
{
    padding: 70px 15px;
}

/* MAIN NAVIGATION
------------------------------------------------------------------------------*/
#main-header
{
    background: #fff url('http://media.clifjackson.net/images/both-circles-45x35.png') no-repeat 5px center;
    border-bottom: 1px solid #333;
    box-shadow: 0 0 4px #ccc;
    height: 40px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
    #main-nav
    {
        background-color: #fff;
        position: fixed;
        top: -1000px;
        transition-property: top;
        transition-duration: 0.3s;
        visibility: hidden;
        width: 100%;
        -webkit-transition-property: top;
        -webkit-transition-duration: 0.3s;
    }
    #main-nav.play
    {
        top: 41px !important;
    }
        #nav-list
        {
            list-style: none;
            margin: 0;
            padding: 0;
        }
            #nav-list > li
            {
                border-bottom: 1px solid #c3c3c3;
            }
            .top-level-link:link
            {
                color: #333;
                display: block;
                font-size: 16px;
                line-height: 40px;
                padding: 0 12px;
            }
            #nav-list a
            {
                text-decoration: none;
                transition-property: all;
                transition-duration: 0.35s;
                -webkit-transition-property: all;
                -webkit-transition-duration: 0.35s;
            }
            .top-level-link.active,
            .top-level-link:active
            {
                background-color: #333;
                color: #fff;
            }
                .child-menu
                {
                    display: none;
                }

    #header-text-box
    {
        height: 40px;
        line-height: 40px;
        padding: 0 0 0 55px;
    }
        #my-header-name
        {
            font-size: 16px;
        }
        .breadcrumbs
        {
            font-size: 11px;
        }

/* INDEX PAGES
------------------------------------------------------------------------------*/
.index-page-link
{
    height: 100px;
}
    .index-page-link > span
    {
        font-size: 20px;
        padding: 36px 0 0 108px;
    }
    .button-image
    {
        height: 84px;
        left: 8px;
        top:18px;
        width: 84px;
    }
    .circle-border
    {
        height: 100px;
        width: 100px
    }

/* CONTENT
------------------------------------------------------------------------------*/
h1
{
    font-size: 28px;
    line-height: 1.2;
    margin: 0 0 35px;
}
h2
{
    font-size: 24px;
    line-height: 1.2;
    margin: 0 0 7px;
}
h3
{
    font-size: 18px;
    margin: 0 0 7px;
}
.work-samples h2
{
    margin-bottom: 35px;
}
.work-samples h3
{
    margin-bottom: 1px;
}

.page-wrap
{
    position: relative;
}
.music.index .page-wrap,
.web.index .page-wrap
{
    margin: 0 auto;
    max-width: 260px;
}

.disco-downloads
{
    line-height: 1.5;
}
    .disco-downloads > p
    {
        line-height: inherit;
    }

.content-entry-box
{
    border-bottom: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 8px 6px -6px #ccc;
    margin-bottom: 45px;
    word-wrap: break-word;
}
    .content-entry-info-box
    {
        padding: 0 5px;
    }

.media-box-150
{
    margin: 0 auto 20px;
    width: 150px;
}
.block
{
    display: block;
}
.img-100
{
    width: 100%;
}
.zuk-box .block
{
    max-width: 450px;
}

#top-link-box
{
    padding-right: 20px;
}

#main-footer
{
    padding-bottom: 25px;
}
    #footer-nav
    {
        padding-left: 20px;
        margin-bottom: 25px;
    }
    cite
    {
        font-size: 12px;
    }

@media (max-width: 360px)
{
    #my-header-name
    {
        font-size: 14px;
    }
    .breadcrumbs
    {
        font-size: 10px;
    }
}

@media (orientation: portrait) and (min-width: 480px) and (max-width: 550px)
{
    #container
    {
        transform: scale(0.87);
        -webkit-transform: scale(0.87);
    }
}

@media (orientation: portrait) and (min-width: 320px) and (max-width: 480px)
{
    #container
    {
        transform: scale(0.58);
        -webkit-transform: scale(0.58);
    }
}

@media (orientation: portrait) and (max-width: 320px)
{
    #container
    {
        transform: scale(0.44);
        -webkit-transform: scale(0.44);
    }
}

@media (orientation: landscape) and (max-width: 640px)
{
    #container
    {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
    }
}

@media (orientation: landscape) and (max-width: 580px)
{
    #container
    {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
    }
}

@media (orientation: landscape) and (max-width: 480px)
{
    #container
    {
        transform: scale(0.6);
        -webkit-transform: scale(0.6);
    }
}

@media (orientation: landscape) and (max-width: 320px)
{
    #container
    {
        transform: scale(0.6);
        -webkit-transform: scale(0.6);
    }
}
