$general-fonts: open_sansregular,helvetica,arial,sans-serif;
$header-fonts: open_sanssemibold,sans-serif;
$header-height: 4rem;
$easing: 0.54, 0.3, 0.72, 0.68;

// Colors
$mainBgColor: #efefef;
$homePageLinkColor: #333;
$homePageLinkHoverColor: #000;
$homePageNameColor: #a0a0a0;
$contentEntryBgColor: rgba(255, 255, 255, 0.5);
$white-circle-gradient-A: #f7f0e3;
$white-circle-gradient-B: #efd7b6;

// Shadows
$boxShadow: #ccc;

// Images
$rainbowLeftSide: 'http://media.clifjackson.net/images/rainbow_corner-left-BW-340x137.png';
$rainbowTopR: 'http://media.clifjackson.net/images/rainbow_top-right-BW-142x80.png';
$circleA: 'http://media.clifjackson.net/images/circle-1b.png';
$circleB: 'http://media.clifjackson.net/images/circle-2.png';
$smallCicles: 'http://media.clifjackson.net/images/both-circles-45x35.png';

// Font- Sizes
$smallFont: 1.2rem;
$mediumSmallFont: 1.6rem;
$mediumFont: 2.4rem;
$largeFont: 3.4rem;
$xlFont: 4.8rem;

// Spacing
$xSmallSpace: 0.3rem;
$smallSpace: 1rem;
$medSmallSpace: 1.4rem;
$medSpace: 2rem;
$largeSmallSpace: 2.8rem;
$largeSpace: 4rem;
